<%- include('../partials/header') %>
<section class="section">
  <div class="container narrow center">
    <h1>404</h1>
    <p>The page you requested was not found.</p>
    <a class="btn btn-primary" href="/">Go Home</a>
  </div>
</section>
<%- include('../partials/footer') %>
