<%- include('../partials/header') %>
<section class="section">
  <div class="container narrow center">
    <h1>Error <%= status %></h1>
    <p><%= message %></p>
    <a class="btn btn-primary" href="/">Go Home</a>
  </div>
</section>
<%- include('../partials/footer') %>
